
/* HEADER STYLES */

body {
	margin: 0;
	padding: 0;
}

header {
	height: 40vh;
}
header .background_square {
	background-color: #34dbeb;
	height: 60%;
}

header .background_triangle {
	border-top: 20vh solid #34dbeb;
	border-right: 100vw solid transparent;
	filter: drop-shadow(1px 6px 2px #e8e8e8);
}

header .container {
	display: flex;
	margin: 0 6%;
	position: absolute;
	top: 4%;
}

.container > img {
	height: 420px;
	object-fit: cover;
	min-width: 380px;
	box-shadow: rgba(0, 0, 0, .3) 5px 5px 15px;
	z-index: 3;
}

header .name {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 2.2em;
  left: 30px;
  top: 340px;
}

header .bio-cont {
	background-color: #fff;
	box-sizing: border-box;
	height: 100%;
	margin: auto;
	padding: 30px 30px 20px 30px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px;
}

header .bio-links {
	display: flex;
	justify-content: flex-end;
	gap: 20px;
	padding-top: 30px;
}

.bio-cont > p {
	letter-spacing: .9px;
}

.bio-links img {
	height: 1.5em;
	object-fit: contain;
}