
/* HEADER STYLES */

body {
	margin: 0;
	padding: 0;
}

header {
	height: 40vh;
}
header .background_square {
	background-color: #34dbeb;
	height: 60%;
}

header .background_triangle {
	border-top: 20vh solid #34dbeb;
	border-right: 100vw solid transparent;
}

header .container {
	display: flex;
	margin: 0 10%;
	position: absolute;
	top: 4%;
	width: 80%;
}

header img {
	height: 440px;
	object-fit: cover;
	min-width: 420px;
	box-shadow: rgba(0, 0, 0, .6) 5px 5px 15px;
	z-index: 3;
}

header .name {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 2.5em;
  left: 30px;
  top: 340px;
}

header .bio-cont {
	align-items: center;
	background-color: #fff;
	box-sizing: border-box;
	height: 100%;
	margin: auto;
	padding: 30px;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header .bio-links {
	text-align: right;
}